.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE, #434455);
    background-color: #FFFFFF;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-short {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

.page-address {
    font-style: normal;
}

.page-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--SLATE, #434455);
}

.page-address-link:hover,
.page-address-link:focus {
    color: var(--OCEAN, #404BBF);
}

.hero {
    background: var(--NAVY-BLUE, #2E2F42);
}

.hero-title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--WHITE, #FFF);
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--WHITE, #FFF);
    background: var(--IRIS, #4D5AE5);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--OCEAN, #404BBF);
}

.benefits-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.our-team {
    background-color: #F4F4FD;
}

.our-team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.our-team-item {
    background-color: #FFFFFF;
}

.our-team-item-title {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.our-team-item-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--SLATE, #434455);
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--CLOUD, #F4F4FD);
}

.logo-footer {
    color: #f4f4fd;
}